[Desktop Entry]
Version=1.0
Type=Application
Name=GYeet
Comment=GYeet Application
Icon=org.codeberg.Fr4gm3nt3d_sh.GYeet
Exec=gyeet
Terminal=false
Categories=Utility;
StartupNotify=true